body{
    background-color: rgb(0, 0, 0);
}

#container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    display: grid;
    height: 800px;
    align-content: space-between;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    
}

#top{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hamburger{
    color: white;
    display: none;
}



#left-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#left-nav a{
    color: white;
    transition: 700ms;
}

#left-nav a:hover{
    color: rgb(126, 122, 122);
}

#middle-nav{
}

#search-div{
    display: flex;
    position: relative;
}

#search{
    border-radius: 25px;
    padding: 5px;
    border-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search-result{
    background-color: rgb(0, 0, 0);
    width: 250px;
    padding-bottom: 20px;
    border-radius: 25px;
    position: absolute;
    color: white;
    display: flex;
}

#search-result img{
    width: 100px;
    height: 100px;
}

#output{
    display: flex;
    align-items: center
}

#right-nav{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


#right-nav a{
    color: white;
}

#right-nav a:hover{
    color: rgb(126, 122, 122);
    transition: 700ms;
}

#Ring-logo{
    position: relative;
}

#count{
    position: absolute;
    right: 1.1px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: red;
    font-size: 10px;
    text-align: center;
}

#favorits{
    background-color: black;
    width: 150px;
    padding-bottom:  120px;
    position: absolute;
    display: none;
    color: white;
    border-radius: 25px;
    list-style: none;
    text-align: center;
}



#middle{
    display: grid;
    color: white;
    
}

#middle-content{
    width: 30%;
}

#p{
}


#btn-Watch{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-weight: 600;
    width: 120px;
    padding: 15px;
    border-style: none;
    transition: 600ms;
}


#btn-Watch:hover{
    background-color: rgb(95, 94, 94);
    color: white;
}

#btn-Details{
    background-color: rgb(96, 92, 92, 0.8);
    font-weight: 600;
    color: white;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    border-style: none;
    transition: 600ms;
}

#btn-Details:hover{
    background-color: rgb(95, 94, 94);
}



#The-Trending-Movies{
    display: flex;
    overflow: hidden;
}

#movie-item{
    display: flex;
    padding: 25px;
    gap: 50px
}

#movie-item div{
    height: 200px;
    display: grid;
    justify-items: center;
    width: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#movie-item img {
    border-radius: 15px; 
    width: 100%; 
    height: auto;
    object-fit: cover; 
}



#movie-item h1{
    display: none;
}

#movie-item p{
    display: none;
}

.add-movie-btn{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border-style: none;
    text-align: center;
    background-color: rgb(236, 231, 231, 0.7);
    color: white;
    font-size: 20px;

}


#movies-container{
    padding: 10px;
    display: grid;
    gap: 30px;

}

#categories{
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 8px;
}

#categories button{
    background-color: rgb(90, 89, 89, 0.5);
    color: white;
    border-radius: 25px;
    padding: 15px;
    border-style: none;
    transition: 600ms;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#categories button:hover{
    background-color: gray;
}

#popular{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#The-popular-Movies{
    padding:20px;
}

#popular-item{
    display: flex;
    gap: 50px;
}
    

#popular-item div{
    height: 200px;
    display: grid;
    justify-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#popular-item img {
    border-radius: 15px; 
    width: 200px; 
    
}

#popular-item h1{
    display: none;
}

#popular-item p{
    display: none;
}

.add-movie-btn{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border-style: none;
    text-align: center;
    background-color: rgb(236, 231, 231, 0.7);
    color: white;
    font-size: 20px;

}

#upcoming{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Upcoming-Movies{
    padding:20px;
}

#Upcoming-items{
    display: flex;
    gap: 50px;
}
    

#Upcoming-items div{
    height: 200px;
    display: grid;
    justify-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#Upcoming-items img {
    border-radius: 15px; 
    width: 200px; 
    
}


#Upcoming-items h1{
    display: none;
}

#Upcoming-items p{
    display: none;
}

.add-movie-btn{
    border-radius: 50px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-style: none;
    text-align: center;
    background-color: rgb(236, 231, 231, 0.7);
    color: white;

}


#Top-Rated{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Top-Rated-Movies{
    padding:20px;
}

#Top-Rated-items{
    display: flex;
    gap: 50px;
}
    

#Top-Rated-items div{
    height: 200px;
    display: grid;
    justify-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Top-Rated-items img {
    border-radius: 15px;
    width: 200px; 
}

#Top-Rated-items h1{
    display: none;
}

#Top-Rated-items p{
    display: none;
}

.add-movie-btn{
    border-radius: 50px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-style: none;
    text-align: center;
    background-color: rgb(236, 231, 231, 0.7);
    color: white;

}






@media (max-width: 600px){
    #container{
        max-height: 100%;
    }


    #top{
        display: grid;
        align-items: center;
        justify-items: center;
        width: 50px;
        border-radius: 15px;
        padding: 5px;
        

    }

    #hamburger{
        display: grid;
        justify-items: center;
    }

    #hamburger a{
        color: white;
    }



    #left-nav{
        display: none;
        justify-items: center;

        
    }

    #right-nav{
        display: flex;
    }


    #middle{
        width: 100%;
    }

    #middle-content{
        display: grid;
        gap: 10px;
    }

    #h1{
        text-align: center;
    }
    

    #p{
        display: none;
    }

    #The-Trending-Movies{
        display: grid;
        justify-content: center;
        gap: 5px;
        overflow: scroll;
    }

    #popular{
        overflow: scroll;
    }

    #upcoming{
        overflow: scroll;
    }

    #Top-Rated{
        overflow: scroll;
    }




}