.Pretime{
    background-color: rgb(234, 219, 222);
    padding: 10px;
}

.H4Pre{
    color:  rgb(175, 135, 141); ;
}

li{
    color: rgb(97, 96, 96);
    font-size: 16px;
}


.PreSpan{
    font-weight: 700;
}